body{
font-family: sans-serif;

}
html {
 box-sizing: border-box;
 /* font-size: 62.5%;*/ } 
 @media only screen and (max-width: 38.75em) {
   html {
     font-size: 60%; } }
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box
}
.section{
  height: 84vh;
  background-image:linear-gradient(to right bottom, rgba(54, 54, 54, 0.486), rgba(49, 49, 49, 0.459)), 
url(./BACK11.png);
background-position: top;
 background-size: cover;
 background-repeat: no-repeat;
 filter: blur(5PX);
 z-index: 2;
 position: relative;
}
/* .container{
 height: 100vh;
 margin-top: -40rem;
 z-index: 2;
 position: relative;
} */
/* .container--blur{
  background-image:linear-gradient(to right bottom, rgba(54, 54, 54, 0.486), rgba(49, 49, 49, 0.459)), 
url(./BACK.png);
height: 100vh;
 background-position: top;
 background-size: cover;
 background-repeat: no-repeat;
 filter: blur(5PX);
 z-index: 1;
 position: relative;
} */
/* .contain-image{
  height: 100vh;
  width: 100vw;
  display: inline;
  filter: blur(1.9PX);  
}*/

.header{
 background-color: black;
 height: 3.1rem;
 display: flex;
 justify-content: space-between;
}

.logo{
 background-color: rgb(223, 14, 14);
 height: 3.1rem;
 display: flex;
 color: white;
 padding-top: .8rem;
 padding-left: .8rem;
 width: 13rem;
 
}
.header-paragraph{
 font-size: 1.1rem;
}
.img{
 height: 2.3rem;
 
}
.buttons{
 display: flex;
}
.button-1{
 height: 3.1rem;
 background-color: rgb(211, 211, 211);
 padding: 1.2rem 3rem;
 font-size: 1rem;
 font-weight: lighter;
 color: rgb(66, 65, 65);
 border-right:1px solid rgb(168, 168, 168) ;
 
}
.button-2{
 height: 3.1rem;
 background-color: rgb(211, 211, 211);
 padding: 1.2rem 1rem;
 font-size: 1rem;
 font-weight: lighter;
 color: rgb(66, 65, 65);
}
.header--type{
 background-color: white;
 height: 3.1rem;
 color: black;
 border-bottom: 1px white solid;
}
ul{
 display: flex;
 justify-content: end;
 list-style: none;
}
li{
 /* padding: 0 1.5rem; */
 color: black;
 font-size: .8rem;
 margin-top: 1rem;
}
.list--1{
 background-color: rgb(223, 14, 14);
 padding: .5rem;
 margin-left: -.5rem;
 color: white;
}
.li-1{
 margin-right: 1.2rem;
}
.li-2{
 margin-right: 4rem;
}
.li-3{
 margin-right: 5rem;
}
.li-4{
 margin-right: 2rem;
}
.li-5{
 padding: .4rem 2rem 0 2rem;
}
.box{
 height: 27rem;
 width: 36rem;
 background-color: rgb(241, 241, 241);
 /* margin: 3.5rem auto 2rem auto ; */
 border-radius: .8rem;
 display: flex;
 align-items: center;
 flex-direction: column;
margin-top: -30rem;
position: relative;
z-index: 100;
justify-content: center;
margin-left: auto;
margin-right: auto;
}
.box-1{
 height: 5.3rem;
 width: 32rem;
 background-color: rgb(190, 190, 190);
 border-radius: .5rem;
 padding-top: 2rem;
 display: flex;
 margin-top: .1rem;
 justify-items: center;
 align-content: center;
}
.box-img{
height: 4.8rem;
margin: -1.7rem 1rem 0 1rem;

}
h1{
 margin-top: -.3rem;
}
h4{
 margin-bottom: .1rem;
 font-size: 1.09rem;
 
}
.box-txt{
 padding: 1rem 2rem;
 align-self: flex-start;
}
.box-txt p {
font-size: 1rem;
}
.forms{
 display: flex;
 justify-content: space-between;
}
.form-logo img {
 height: 6.2rem;
 width: 6.2rem;

}
.form-logo{
 padding-left: 5.6rem;
}
form h4{
 font-size: .6rem;
 color: rgb(54, 54, 54);
 font-weight: bolder;

}
input{
 height: 1.8rem;
 width: 20rem;
 margin-bottom: .7rem;
 padding: 0 .7rem;
}
.btn{
 align-self: flex-start;
 margin-top: .5rem;
}
button{
 padding: .5rem .7rem;
 margin-right: 1rem;
 background-color: rgb(86, 157, 238);
 border-radius: .25rem;
 outline: none;
 border: none;
 font-size: .9rem;
}
button:hover{
 background-color: rgb(38, 127, 230);
}
.container--2{
 height: 100vh;
 background-color: rgb(216, 216, 216);
}
.header--2{
 height: 3.1rem;
 background-color: cornflowerblue;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 padding-right: 1.5rem; 
}
.box--2{
 margin: 1rem 10rem;
 display: flex;
 justify-content: space-between;
 font-size: .9rem;
 align-items: center;


}
.box--2-box {
display: flex;
height: 2.6rem;
align-items: center;
}
.box-element{
 padding-right : 3rem;

}

  @media only screen and (max-width: 900px) {
   .box-element{
    padding-right: 2rem;
   }
   .box--2{
    margin: 1rem 8rem;
   }
   
    }
  @media only screen and (max-width: 800px) {
     .box-element{
      padding-right: 1.1rem;
     }
     .box--2{
      margin: 1rem 7rem;
     }
     
      }
  
  @media only screen and (max-width: 620px) {
     .box{
      height: 34rem;
      width: 43rem;
      margin-top: -50rem;
     }
     .box-1{
      height: 5.5rem;
      width: 37rem;
    }
    .box-txt h4{
      font-size: 1.6rem;
      margin-left: 1.3rem;
    }
    .box-txt p {
      font-size: 1.4rem;
      margin-left: 1.3rem;
    }
   .forms h4 {
      font-size: 1.2rem;
      margin-bottom: .3rem;
    }
    input{
      margin-bottom: 1rem;
      height: 2rem;
      font-size: 1.4rem;
    }
    .contact-form{
      margin-left: -3rem;
      margin-top: 1rem;
    }
    .form-logo img {
      height: 8rem;
      width: 8rem;
      margin-top: 1.5rem;
     }
    .form-submit{
       padding: 1rem 1rem;
       font-size: 1.1rem;
     }
     .form-reset{
      padding: 1rem 1rem;
      font-size: 1.1rem;
     }
     .section{
      height: 84vh;
      background-image:linear-gradient(to right bottom, rgba(54, 54, 54, 0.486), rgba(49, 49, 49, 0.459)), 
      url(./BACK2.png);
    background-position: top;
     background-size: cover;
     background-repeat: no-repeat;
     filter: blur(5PX);
     z-index: 2;
     position: relative;
    }

     }
     @media only screen and (max-width: 500px) {
   
       .box-element{
        padding-right: 1.4rem;
       }
       .box--2{
        margin: 1rem 6rem;
       }
       .section{
        height: 84vh;
        background-image:linear-gradient(to right bottom, rgba(54, 54, 54, 0.486), rgba(49, 49, 49, 0.459)), 
        url(./BACK2.png);
      background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       filter: blur(5PX);
       z-index: 2;
       position: relative;
      }
  
       }
       @media only screen and (max-width: 450px) {
   
        .box{
          height: 32rem;
          width: 35rem;
          /* margin-top: -40rem; */
         }
         .box-1{
          height: 5.2rem;
          width: 32rem;
        }
        .box-txt h4{
          font-size: 1.3rem;
          margin-left: .1rem;
        }
        .box-txt p {
          font-size: 1.3rem;
          margin-left: .1rem;
        }
       .forms h4 {
          font-size: 1rem;
          margin-bottom: .3rem;
        }
        input{
          margin-bottom: 1rem;
          height: 1.9rem;
          width: 17rem;
          font-size: 1.4rem;
        }
        .contact-form{
          margin-left: .7rem;
          margin-top: 1rem;
        }
        .form-logo img {
          height: 8rem;
          width: 8rem;
          margin-top: 1.5rem;
         }
        .form-submit{
           padding: .7rem 1rem;
           font-size: 1rem;
         }
         .form-reset{
          padding: .7rem 1rem;
          font-size: 1rem;
         }
        
         .section{
          height: 84vh;
          background-image:linear-gradient(to right bottom, rgba(54, 54, 54, 0.486), rgba(49, 49, 49, 0.459)), 
          url(./BACK2.png);
        background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         filter: blur(5PX);
         z-index: 2;
         position: relative;
        }

         }
       @media only screen and (max-width: 400px) {
   
        /* .box{
          margin-top: 12rem;
        } */
        
         .section{
          height: 84vh;
          background-image:linear-gradient(to right bottom, rgba(54, 54, 54, 0.486), rgba(49, 49, 49, 0.459)), 
          url(./BACK2.png);
        background-position: top;
         background-size: cover;
         background-repeat: no-repeat;
         filter: blur(5PX);
         z-index: 2;
         position: relative;
        }

         }
         @media only screen and (max-width: 300px) {
   
          .box {
            /* margin-top: -190rem; */
      
           }
          }


.box--3{
height: 14rem;
/* width: 68rem; */
width: 80%;
background-color: white;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;

/* justify-content: space-between; */
}
.box--3 p {
 padding: 1.6rem 0;
 font-size: .9rem;
}
.margin-left{
 margin-left: 1.2rem;
 color: white;
 padding: .8rem 1.2rem;
 background-color: cornflowerblue;

}